* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    background-image: url(./crosta/assets/fundo.jpg);
    background-color: rgb(66, 251, 88);
    background-repeat: no-repeat;   /*img nao repetir na page*/
    background-position: top center; /*img no centro da page*/
    background-size: cover;  /*cobre a tela inteira*/
  }

#container {
    width: 900px;
    border: 1px solid black;
    margin: 20px auto 0px;
}  

#profile img {
    width: 520px;
    margin: auto;
}

#profile {
    text-align: center;
}

 #profile p {
    font-style: italic;
    font-weight: 800;
    line-height: 24px;
    
}

#profile ul {
    text-align: center;
}
    
